html,
body {
    height: 100%;
    font-family: "Rowdies", sans-serif;
}

body {
    overflow-y: scroll;
    background-image: url('./assets/Wood.jpg');
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 7vh 1fr;
    /* flex-direction: column;
    justify-content: center; */
    justify-items: center;
}
header {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.nav-wrapper {
    width: 85%;
}

nav {
    height: 6vh;
    margin-left: 20px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: end;
}

#content {
    border-radius: 15px 15px 0 0;
    padding-top: 20px;
    width: 85%;
    background-color:#c8ad7d;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav button {
    color: black;
    font-family: "Rowdies", sans-serif;
    font-size: large;
    width: 95%;
    height: 6vh;
    background-color: #c8ad7d;
    border: none;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #c8ad7d;
    border-bottom: 1px solid #c8ad7d;
    z-index: 3;
}

.inactive {
    background-color: #b77043;
    z-index: 1;
}

.inactive:hover {
    cursor: pointer;
    background-color: #8a5331;
}

.card {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 20px;
    width: 90%;
    background-color: #f7f1e4;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hours-table {
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.menu-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menu-desc {
    padding-left: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    text-align: end;
}

@media (max-width: 800px) {
    .menu-card {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .menu-desc {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}