html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    width: 75%;
    background-color: cadetblue;
}

nav {
    height: 6vh;
    margin-left: 20px;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: end;
}

#content {
    width: 75%;
    height: 100%;
    background-color:linen;
}

nav button {
    width: 95%;
    height: 5vh;
    background-color: linen;
    border: none;
    border-radius: 5px 5px 0 0;
}

.active {
    background-color: linen;
}

.inactive {
    background-color: rosybrown;
}

.inactive:hover {
    cursor: pointer;
    background-color: rgb(145, 113, 113);
}